
<!DOCTYPE html>
<html lang="en">
<head>
<title>51jobData</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Child Learn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEristatic/csson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- static/css files -->
    <link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap static/css -->
    <link href="static/css/style.css" rel='stylesheet' type='text/css' /><!-- custom static/css -->
	<link href="static/css/static/css_slider.css" type="text/css" rel="stylesheet" media="all">
    <link href="static/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome static/css -->
	<!-- //static/css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/static/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<!-- header -->
<header>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1><a href="/index"><img src="static/images/s2.png" alt="">51jobSpider</a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class="active"><a href="/">主页</a></li>
				<li class=""><a href="/position">职位数据</a></li>
				<li class=""><a href="/salary">薪资统计</a></li>
				<li class=""><a href="/keyword">关键词统计</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->

<!-- banner -->
<div class="banner" id="home">
	<div class="layer">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 banner-text-w3pvt">
					<!-- banner slider-->

					<!-- //banner slider-->
				</div>
				<div class="col-lg-5 col-md-8 px-lg-3 px-0">
					<div class="banner-form-w3 ml-lg-5">
						<div class="padding">
							<!-- banner form -->
							<form action="#" method="post">
								<h5 class="mb-3">请先搜索</h5>
								<div class="form-style-w3ls">
									<input placeholder="请输入职位关键字搜索" name="name" type="text" required="">
									<select name="comp_select">
									  <option value=长沙>长沙</option>
									  <option value=北京>北京</option>
									  <option value=上海>上海</option>
									  <option value=成都>成都</option>
									  <option value=深圳>深圳</option>
									</select>
									<!--<input placeholder="Password" name="password" type="password" required=""> -->
									<button Class="btn"> Get Started</button>
									<span>By registering, you agree to our <a href="#">Terms & Conditions.</a></span>
								</div>
							</form>  <!-- 定义的表单 -->
							<!-- //banner form -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- stats section -->
<section class="section-stats" id="stats">
	<div class="py-5">
		<div class="container py-lg-5">
		<h3 class="heading mb-sm-5 m b-4">51Job statistics</h3>
			<div class="row text-center">
				<div class="col-lg-3 col-6">
                    <a href="/positon">
					<div class="w3layouts_stats_left w3_counter_grid">
						<div class="stats-icon">
							<span class="fa fa-credit-card"></span>
						</div>
						<p class="para-text-w3ls">职位数据</p>
					</div>
                    </a>
				</div>
				<div class="col-lg-3 col-6">
                    <a href="/salary">
					<div class="w3layouts_stats_left w3_counter_grid2">
						<div class="stats-icon">
							<span class="fa fa-users"></span>
						</div>
						<p class="para-text-w3ls">薪资统计</p>
					</div>
                    </a>
				</div>
				<div class="col-lg-3 col-6 mt-lg-0 mt-4">
                    <a href="/keyword">
					<div class="w3layouts_stats_left w3_counter_grid1">
						<div class="stats-icon">
							<span class="fa fa-dollar"></span>
						</div>
						<p class="para-text-w3ls">关键词统计</p>
					</div>
                    </a>
                </div>
			</div>
		</div>
	</div>
</section>
<!-- //stats section -->



<!-- copyright -->
<section class="copyright">
	<div class="container py-4">
	</div>
</section>
<!-- //copyright -->

<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top"> 
		<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
	</a>
</div>
<!-- move top -->

</body>
</html>